$color--global: #007833;
$color--global-light: #42aa2f;
$color--global-light-rgba: rgba(42, 170, 47, .7);
$color--global-light-rgba-light: rgba(42, 170, 47, .6);
$color--global-light-rgba-dark: rgba(42, 170, 47, .8);

$color--gray: #333;
$color--gray-light: #f8f8f8;

$color--green-light: #02d068;
$color--yellow: #ffcc00;
