

// CONTAINER

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
}

// HERO

.hero {
  background-color: $color--global;
  .hero-button {
    bottom: 45px;
    opacity: 1;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 3;
    .btn {
      opacity: 0;
      margin: 10px 25px;
      position: relative;
      top: -10px;
      @include transition(opacity .8s ease, top .8s ease);
      &.active {
        opacity: 1;
        top: 0;
      }
    }
  }

  .hero-image {
    height: 420px;
    overflow: hidden;
    position: relative;
    .loader-wrapper {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
      @include transition(opacity .5s);
      .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -5rem 0 0 -5rem;
      }
    }
  }
  .hero-image.active {
    img {
      opacity: 1;
    }
    .loader-wrapper {
      opacity: 0;
    }
  }

  .hero-bottom {
    padding-bottom: 25px;
    padding-top: 25px;
    p {
      color: #fff;
      font-size: pt(26);
    }
    .display-table,
    .display-table-cell {
      display: block;
      text-align: center;
      &.align-left{ margin-bottom: 20px; }
    }
  }
}

.hero-slider {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
  .hero-slider__item {
    height: 100%;
    position: relative;
    width: 100%;
    img {
      opacity: 0;
      visibility: hidden;
    }
  }
  .owl-stage-outer {
    height: 100%;
    width: 100%;
  }
  .owl-stage {
    height: 100%;
  }
  .owl-item {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    .hero-image {
      height: 700px;
    }
    .hero-bottom {
      .display-table { display: table; }
      .display-table-cell { display: table-cell; }
      .display-table-cell.align-left {
        margin-bottom: 0;
        text-align: left;
      }
      .display-table-cell.align-right { text-align: right; }
      p {
        font-size: pt(30);
      }
    }
  }
}


// SECTION

.section {
  &.section--haspadding {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  &.section--haspadding-medium {
    padding-bottom: 35px;
    padding-top: 35px;
  }
  &.section--lightgray {
    background-color: $color--gray-light;
  }
  &.section--citas {
    margin-top: 40px;
  }
}

@media screen and (min-width: 600px) {
  .section {
    &.section--citas {
      margin-top: 100px;
    }
  }
}




// CONTENT

.sidebar {}
@media screen and (min-width: 600px) {
  .sidebar {
    width: 245px;
  }
}


// POST

.post {
  margin-bottom: 30px;
  .post--image {
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;
    img {
      max-width: 100%;
      width: 100%;
      @include scale(1);
      @include transition(transform 0.35s);
    }
    &:hover {
      img {
        @include scale(1.15);
      }
    }
  }
  .post--date {
    color: lighten($color--gray, 50%);
    font-size: pt(13);
    margin-bottom: 6px;
  }
  .post--calendar {
    width: 40px;
  }
  .post--content {
    padding-left: 25px;
  }
  .post--text, h1 {
    color: inherit;
    font-size: pt(18);
  }
  .post--descriptioin {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  // POST MINI
  &.post--mini {
    margin-bottom: 20px;
    display: inline-block;
    .post--image {
      margin-bottom: 10px;
    }
    .post--calendar {
      width: 20px;
    }
    .post--content {
      padding-left: 12px;
    }
    .post--text, h3, h4 {
      font-size: pt(15);
    }
  }
}




@media screen and (min-width: 768px) {
  .post {
    margin-bottom: 0;
    .post--descriptioin {
      padding-bottom: 50px;
    }
  }
}


// CITAS

.cita {
  background-color: #fff;
  border-bottom: 2px solid $color--global-light;
  font-size: pt(18);
  max-width: 500px;
  margin: 0 auto 26px;
  position: relative;
  @include border-radius(5px 5px 0 0);
  &:after {
    content: '';
    top: 100%;
    border: 16px solid transparent;
    border-top-color: $color--global-light;
    height: 0;
    left: 50%;
    margin-left: -16px;
    position: absolute;
    width: 0;
  }
  .cita--inner {
      padding: 20px 30px;
  }
}



// PAGE TITLE

.page--title {
  padding-bottom: 24px;
  padding-top: 24px;
}


// SECTION ITEMS

.message--item {
  text-align: left;
  margin-bottom: 10px;
  p {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .message--item {
    text-align: center;
    margin-bottom: 0;
  }
}


// CONOCENOS

.section-conocenos {
  &.section--left {
    padding-bottom: 20px;
  }
  &.section--right {
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section-conocenos {
    &.section--left {
      padding-bottom: 0;
    }
    &.section--right {
      padding-top: 0;
    }
  }
}


// TEAM

.team {
  overflow: hidden;
  .team__container {
    margin: 0 auto;
    max-width: 1084px;
  }
  .team__item {
    float: left;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    img {
      margin-bottom: 18px;
    }
    h3 {
      font-size: pt(13);
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    i {
      color: lighten($color--gray, 3%);
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 1084px) {
  .team {
    .team__item {
      padding-left: 30px;
      padding-right: 30px;
      width: 33.33333334%;
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    h3 {
      font-size: pt(15);
    }
    .team__item {
      padding-left: 20px;
      padding-right: 20px;
      width: 33.33333334%;
    }
  }
}

.line {
  background-color: $color--global-light;
  height: 3px;
  width: 50px;
}



// BRAND RIGHT SIDEBAR

.brand {
  padding-top: 30px;
}

.brand__item {
  margin-bottom: 30px;
  img {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .brand{
    padding-top: 0;
  }
}

// MAPA

.map {
  background-color: $color--gray-light;
  height: 300px;
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .map{
    height: 420px;
    margin-bottom: 60px;
  }
}


// CONTACT INFO

.list-info {
  padding-top: 60px;
  li {
    display: block;
    margin-bottom: 10px;
  }
}

.info {
  font-size: pt(13);
  line-height: pt(18);
  .info__icon {
    font-size: 40px;
    width: 45px;
  }
  .info__text {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .list-info{
    padding-top: 0;
  }
}





// FORM CONTACT

.input-row {
  max-width: 400px;
  margin-bottom: 20px;
}

.textarea-row {
  margin-bottom: 40px;
}


// DOCUMENTS

.document {
  max-width: 749px;
  .document__item {
    border-bottom: 1px solid darken($color--gray-light, 10%);
    padding-bottom: 16px;
    padding-top: 16px;
    .document__title {
      padding-right: 20px;
    }
    .document__content {
      padding-left: 15px;
    }
    .document__item__icon {
      background-color: $color--gray-light;
      color: lighten($color--gray, 50%);
      display: none;
      font-size: 60px;
      text-align: center;
      width: 90px;
      &:hover {
        background-color: darken($color--gray-light, 3%);
        color: $color--global-light;
      }
      &:active {
        background-color: darken($color--gray-light, 6%);
        color: darken($color--global-light, 5%);
      }
    }
    .document__item__content {
      h2 {
        color: inherit;
        font-size: pt(15);
        margin-bottom: 0;
        &:after {
          display: none;
        }
      }
      i {
        color: lighten($color--gray, 33%);
        display: inline-block;
        font-size: pt(13);
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 0;
      }
      .document__item__title {
        padding-right: 15px;
      }
      .document__item__button {
        width: 108px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .document {
    .document__item {
      .document__item__icon {
        display: table-cell;
      }
      .document__item__content {
        padding-left: 15px;
      }
    }
  }
}


// TOP FIXED

.top-fixed {
  .top {
    margin-bottom: 55px;
  }
  .header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
