.btn {
  -webkit-appearance: none;
  background-color: $color--global-light;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: pt(14);
  outline: 0;
  padding: 1.8rem 3rem;
  white-space: nowrap;
  @include border-radius(3px);
  &:focus {
    background: lighten($color--global-light, 5%);
  }
  &:hover {
    background: lighten($color--global-light, 5%);
  }
  &:active,
  &.active {
    background: darken($color--global-light, 3%);
  }
  .txt {
    padding-left: 12px;
  }

  &.btn--opacity {
    background-color: $color--global-light-rgba;
    &:focus {
      background-color: $color--global-light-rgba;
    }
    &:hover {
      background-color: $color--global-light-rgba-light;
    }
    &:active {
      background-color: $color--global-light-rgba-dark;
    }
  }

  &.btn--winona {
    overflow: hidden;
    position: relative;
  	-webkit-transition: border-color 0.3s, background-color 0.3s;
  	transition: border-color 0.3s, background-color 0.3s;
  	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    span {
      display: block;
    }
    &::after {
      content: attr(data-text);
      padding: 1.8rem 3rem;
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	opacity: 0;
    	-webkit-transform: translate3d(0, 25%, 0);
    	transform: translate3d(0, 25%, 0);
    }
    &::after,
    span {
    	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    	transition: transform 0.3s, opacity 0.3s;
    	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:hover {
      &::after{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      span {
        opacity: 0;
      	-webkit-transform: translate3d(0, -25%, 0);
      	transform: translate3d(0, -25%, 0);
      }
    }
  }
}

label.btn {
  pointer-events: none;
}

.btn--biggest {
  font-size: pt(20);
  padding: 15px 30px;
  @include border-radius(6px);
}

.btn--big {
  font-size: pt(18);
}

.btn--medium {
  font-size: pt(13);
  padding: 10px 20px;
  &::after {
    padding: 10px 20px !important;
  }
}

.btn--gray {
  background-color: lighten($color--gray, 50%);
  &:focus {
    background-color: lighten($color--gray, 50%);
  }
  &:hover {
    background-color: lighten($color--gray, 45%);
  }
  &:active {
    background-color: lighten($color--gray, 48%);
  }
}

.btn-social {
  height: 48px;
  font-size: 3rem;
  padding: 0;
  text-align: center;
  width: 49px;
  @include border-radius(6px);
  &.btn-social--medium {
    font-size: 2.4rem;
    height: 40px;
    width: 40px;
    @include border-radius(3px);
  }
  &.btn-social--dark {
    background-color: $color--global;
    &:focus {
      background: lighten($color--global, 5%);
    }
    &:hover {
      background: lighten($color--global, 5%);
    }
    &:active,
    &.active {
      background: darken($color--global, 3%);
    }
  }
  &.btn-social--light {
    background-color: $color--global-light;
    &:focus {
      background: lighten($color--global-light, 5%);
    }
    &:hover {
      background: lighten($color--global-light, 5%);
    }
    &:active,
    &.active {
      background: darken($color--global-light, 3%);
    }
  }
}
