.btn {
  -webkit-appearance: none;
  background-color: $color--global-light;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: pt(14);
  outline: 0;
  padding: 1.8rem 3rem;
  white-space: nowrap;
  @include border-radius(3px);
  &:focus {
    background: lighten($color--global-light, 5%);
  }
  &:hover {
    background: lighten($color--global-light, 5%);
  }
  &:active,
  &.active {
    background: darken($color--global-light, 3%);
  }
  .txt {
    padding-left: 12px;
  }
}

label.btn {
  pointer-events: none;
}

.btn--big {
  font-size: pt(18);
}

.btn--medium {
  font-size: pt(13);
  padding: 10px 20px;
}

.btn-social {
  height: 48px;
  font-size: 3rem;
  padding: 0;
  text-align: center;
  width: 49px;
  @include border-radius(6px);
  &.btn-social--medium {
    font-size: 2.4rem;
    height: 40px;
    width: 40px;
    @include border-radius(3px);
  }
  &.btn-social--dark {
    background-color: $color--global;
    &:focus {
      background: lighten($color--global, 5%);
    }
    &:hover {
      background: lighten($color--global, 5%);
    }
    &:active,
    &.active {
      background: darken($color--global, 3%);
    }
  }
  &.btn-social--light {
    background-color: $color--global-light;
    &:focus {
      background: lighten($color--global-light, 5%);
    }
    &:hover {
      background: lighten($color--global-light, 5%);
    }
    &:active,
    &.active {
      background: darken($color--global-light, 3%);
    }
  }
}
