input,
textarea {
  background-color: transparent;
  border: 1px solid darken($color--gray-light, 10%);
  display: block;
  font: inherit;
  line-height: inherit;
  padding: 10px 15px;
  width: 100%;
  @include border-radius(6px);
  &:hover {
    border: 1px solid darken($color--gray-light, 15%);
  }
  &:focus {
    border: 1px solid darken($color--gray-light, 20%);
  }
}

textarea {
  padding-bottom: 15px;
  padding-top: 15px;
}

input.error,
textarea.error {
  border-color: lighten(red, 5%);
  &:hover {
    border-color: red;
  }
  &:focus {
    border-color: darken(red, 5%);
  }
}

label.error {
  color: red;
  font-size: 1.1rem;
  margin: .3rem 0;
}
