.row {
  padding-right: 20px;
}
.column {}
.col-1-2 { width: 100%; }

@media screen and (min-width: 768px) {
  .row {
    padding-right: 0;
  }
  .col-1-2 {
    display: inline-block;
    padding-right: 30px;
    width: 50%;
  }
}
