.columns {
  & > .display-table {
    & > .display-table-cell {
      display: block;
    }
  }
}

@media screen and (min-width: 600px) {
  .row {
    padding-right: 20px;
  }
  .columns {
    & > .display-table { display: table;
      & > .display-table-cell { display: table-cell; }
    }
  }
  .brand--item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.column {}
.col-1-2 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .row {
    padding-right: 0;
  }
  .col-1-2 {
    display: inline-block;
    padding-right: 30px;
    width: 50%;
  }
}

.col-2-2 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .section-1-2 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    img {
      max-width: 100%;
      width: 100%;
    }
    &.section--left {
      padding-right: 15px;
    }
    &.section--right {
      padding-left: 15px;
    }
  }

  .col-2-2 {
    padding-right: 30px;
  }
}

.brand {

}

.brand__item {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  width: 50%;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
  .brand__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
