.header {
  background: $color--global;
  padding-bottom: 16px;
  padding-top: 16px;
  .header--nav {
    display: block;
    overflow: hidden;
    li {
      float: left;
      margin-right: 30px;
      a {
        color: #fff;
        display: block;
        font-size: pt(13);
        padding-bottom: 4px;
        padding-top: 4px;
        &:focus {
          color: lighten($color--yellow, 5%);
        }
        &:hover {
          color: lighten($color--yellow, 5%);
        }
        &:active,
        &.active {
          color: $color--yellow;
        }
      }
    }
  }
}
