.richtext {
  p, ul {
    margin-bottom: 20px;
    line-height: pt(22);
  }

  ul {
    padding-left: 26px;
    li {
      padding-left: 20px;
      position: relative;
      &:before {
        background-color: $color--global;
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        top: 5px;
        width: 10px;
        @include border-radius(50%);
      }
    }
  }
}
