.top {
  padding-bottom: 5px;
  padding-top: 5px;
}

.top--left,
.top--right.align-right { text-align: center; }

.top--center {
  padding-bottom: 10px;
  padding-top: 10px;
}

.top .container > .display-table,
.top .container > .display-table > .display-table-cell { display: block; }

.top .container > .display-table-cell { width: 100%; }


.top--info {
  &.display-table {
    width: auto;
  }
  .top--info-links {
    padding-right: 10px;
    width: 196px;
    ul {
      display: block;
      li {
        display: block;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .top .container > .display-table { display: table; }
  .top .container > .display-table > .display-table-cell { display: table-cell; }

  .top--left,
  .top--right {
    width: 236px;
  }

  .top--left { text-align: left; }
  .top--right.aling-right { text-align: right; }

}
